.contact {
  background-color: var(--dark-background-color);
  color: var(--color-white);
  padding: 3rem var(--side-padding);
}

@media (min-width: 600px) {
  .contact {
    padding: 5rem;
  }
}

.contact__heading {
  font-size: var(--section-heading-font-size);
}

.contact__container {
  margin: 0 auto;
  max-width: 35rem;
}

.contact input,
.contact textarea {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

@media (min-width: 550px) {
  .contact__form-grouped {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

.contact__recaptcha-container {
  margin-top: 1.5rem;
  text-align: center;
}

.contact__recaptcha-container > * {
  display: inline-block;
}

.contact__button-container {
  margin-top: 1rem;
  text-align: center;
}
