.hero {
  background-color: var(--color-white);
  font-size: 1rem;
  margin: 0 auto;
  padding: 4rem var(--side-padding) var(--side-padding);
}

@media (min-width: 550px) {
  .hero {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    justify-content: space-between;

    padding: var(--side-padding);
  }
}

@media (min-width: 1300px) {
  .hero {
    font-size: 1.15rem;
  }
}

.hero__header {
  text-align: center;
}

.hero .logo {
  height: auto;
  margin: 0 auto 0.5rem;
  max-width: 15.5em;
  width: 100%;
}

.hero__subheading {
  color: var(--primary-accent-color);
  font-size: 1.12em;
  margin-bottom: 0.25rem;
}
