---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/projects.njk" %}
{% include "sections/writing.njk" %}
<div class="grouped-section">
  {% include "sections/speaking.njk" %}
  {% include "sections/podcasts.njk" %}
</div>
{% include "sections/contact.njk" %}
