@font-face {
  font-family: 'sofia_prolight';
  src: url('../fonts/SofiaProLight-webfont.eot');
  src: url('../fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SofiaProLight-webfont.woff2') format('woff2'),
       url('../fonts/SofiaProLight-webfont.woff') format('woff'),
       url('../fonts/SofiaProLight-webfont.ttf') format('truetype'),
       url('../fonts/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'questa_granderegular';
  src: url('../fonts/2-questa_grande_regular_31-webfont.eot');
  src: url('../fonts/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
       url('../fonts/2-questa_grande_regular_31-webfont.woff') format('woff'),
       url('../fonts/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
       url('../fonts/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inconsolatamedium';
  src: url('../fonts/inconsolata-webfont.eot');
  src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inconsolata-webfont.woff2') format('woff2'),
       url('../fonts/inconsolata-webfont.woff') format('woff'),
       url('../fonts/inconsolata-webfont.ttf') format('truetype'),
       url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
