/**
	Brenda Storer
	CSSS slideshow theme

	Based on basic slideshow theme by
	@author Lea Verou
	@version 1.0
*/

html {
	background: $soft-gray;
}

.slide {
	background-color: $slide1-color;
	position: absolute;
	padding: 0 8% 2%;
	color: white;

	&:nth-child(4n+2) {
		background-color: $slide2-color;
	}

  &:nth-child(4n+3) {
    background-color: $slide3-color;
  }

  &:nth-child(4n+4) {
    background-color: $slide4-color;
  }

	h1 {
		@extend %vertical-center;
		line-height: 1;
		text-align: center;
		width: 100%;
	}

  a {
    position: relative;
    z-index: 10;
  }

  .attribution {
    bottom: 5px;
    font-size: 0.8rem;
    position: fixed;
    right: 10px;
    text-decoration: none;
    z-index: 100;
  }
}

#indicator {
	background: rgba(255, 255, 255, .6);
	color: black;
  padding: .1em .3em;
	text-shadow: none;
}

#timer {
	background-color: rgba(255, 255, 255, .3);
	top: auto;
	bottom: 0;
}

#intro {
  background-color: $slide3-color;

  &::before {
    content: "";
    background: url(../img/cat.jpg) center center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
  }

  .intro-container {
    @extend %vertical-center;
    width: 100%;
  }

  .talk-title {
    position: relative;
    top: 0;
    transform: translateY(0);
  }

  .talk-info {
    font-size: 120%;
    text-align: center;
    width: 100%;
  }
}
