<section class="about" id="about">
  <div class="about__content">
    <div class="about__copy">
      <h2 class="gradient-heading">
        Hi, I'm Brenda. I love CSS, e-commerce, beautiful and thoughtful design, making soap from scratch, and dancing to good and bad pop music.
      </h2>
      <p>
        I've been making websites since the early days of Geocities and professionally for the past decade in a variety of development and design roles, sometimes solely on one side or the other. With this unique perspective and experience, I've found success in companies large and small as a bridge between these two worlds. I advocate for collaboration in cross-functional team environments where design & development work together. My current role is as a Senior Software Engineer full-time with <a href="https://contexttravel.com" target="_blank" noopener>Context Travel</a>.
      </p>
      <p>
        As an <a href="#speaking">award winning conference speaker</a>,
        I have been around the world presenting talks on my greatest tech love, CSS. I've also been an active member of the NYC tech community. I've taught with Girl Develop It and helped organize local front-end meetups like CSS Layout Club and ManhattanJS.
      </p>
    </div>
    <div class="photo-frame__container">
      <div class="photo-frame__frame"></div>
      <div class="photo-frame__frame"></div>
      <div class="photo-frame__frame"></div>
      <div class="photo-frame__frame"></div>
      <img src={{ '/img/brenda-storer.jpg' | url }} alt="Headshot of Brenda Storer" class="photo-frame__photo" />
    </div>
  </div>
</section>

