<section class="contact" id="contact">
  <div class="contact__container">
    <h2 class="contact__heading">
      Say hi!
    </h2>
    <form class="contact__form" name="brendastorer-contact" data-netlify="true" method="POST">
      <div class="contact__form-grouped">
        <fieldset>
          <label for="name">Name</label>
          <input type="name" id="name" name="name" />
        </fieldset>
        <fieldset>
          <label for="email-address">Email Address</label>
          <input type="email" id="email-address" name="email" />
        </fieldset>
      </div>
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      <div class="contact__recaptcha-container">
        <div data-netlify-recaptcha="true"></div>
      </div>
      <div class="contact__button-container">
        <button type="submit" class="contact__button">Submit</button>
      </div>
    </form>
  </div>
</section>