<section class="contact" id="contact">
  <div class="contact__container">
    <h2 class="contact__heading">
      Say hi!
    </h2>
    <form class="contact__form" acceptCharset="UTF-8" action="https://formkeep.com/f/da6b15a8dbf2" method="POST">
      <input type="hidden" name="utf8" value="✓" />
      <div class="contact__form-grouped">
        <div>
          <label for="name">Name</label>
          <input type="name" id="name" name="name" />
        </div>
        <div>
          <label for="email-address">Email Address</label>
          <input type="email" id="email-address" name="email" />
        </div>
      </div>
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      <div class="contact__button-container">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>