<section class="hero">
  <header class="hero__header">
    {% include "svgs/logo.svg" %}
    <h2 class="hero__subheading">front-end developer & designer</h2>
  </header>
  {% include "components/navigation.njk" %}
</section>