<section class="podcasts" id="podcasts">
  <h2 class="gradient-heading">
    Podcasts
  </h2>
  <ul class="list--unstyled" role="list">
    <li>
      <a href="https://youtu.be/jRA98PTVoj0?si=G70gKB_IJs276TnO" target="_blank" rel="noopener noreferrer">
        Building Shopify Themes Using Dawn
      </a>
      &mdash; Liquid Weekly
    </li>
    <li>
      <a href="https://chartable.com/podcasts/the-laila-brenda-show" target="_blank" rel="noopener noreferrer">
        The Laila & Brenda Show (Co-Host)
      </a>
    </li>
    <li>
      <a href="https://www.tentative.fm/43" target="_blank" rel="noopener noreferrer">
        I Don't Know What NeoPets are Either</a> &mdash; Tentative.fm
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=DPuZk8DUnTs" target="_blank" rel="noopener noreferrer">Practical CSS Grids</a> &mdash; Non Breaking Space Show
    </li>
    <li>
      <a href="https://www.tentative.fm/38" target="_blank" rel="noopener noreferrer">Grid Locked</a> &mdash; Tentative.fm
    </li>
    <li>
      <a href="https://ctrlclickcast.com/episodes/intro-to-svgs" target="_blank" rel="noopener noreferrer">Intro to SVGs</a> &mdash; Ctrl + Click Cast
    </li>
    <li>
      <a href="https://youtu.be/2uR0M2jK-2o" target="_blank" rel="noopener noreferrer">SVGs</a> &mdash; Non Breaking Space Show
    </li>
    <li>
      <a href="https://www.giantrobots.fm/169" target="_blank" rel="noopener noreferrer">Purpose Driven Development</a> &mdash; Giant Robots Smashing Into Other Giant Robots (Guest Host)
    </li>
    <li>
      <a href="https://www.giantrobots.fm/167" target="_blank" rel="noopener noreferrer">A Place For Both</a> &mdash; Giant Robots Smashing Into Other Giant Robots
    </li>
    <li>
      <a href="https://www.tentative.fm/10" target="_blank" rel="noopener noreferrer">Doing things the hard way</a> &mdash; Tentative.fm
    </li>
    <li>
      <a href="https://podcasts.apple.com/us/podcast/2-brenda-waiter-bartender-lost-soul/id943162117?i=1000332179803" target="_blank" rel="noopener noreferrer">Waiter > Bartender > Lost Soul</a> &mdash; Reboot
    </li>
  </ul>
</section>
