<section class="projects" id="projects">
  <div class="projects__heading-container">
    <h2 class="gradient-heading">
      As a web design and developer consultant, I've worked for all types of clients in various industries &mdash; from small greenfield startups and non-profits, to Fortune 500 companies.
    </h2>
  </div>
  <div class="projects__list-container">
    <ul class="projects__list">
      <li>
        <img src={{ '/img/context-travel-screenshot.jpg' | url }} alt="Context Travel website screenshot" class="projects__image" />
        <h3 class="projects__title">
          <a
            href="https://contexttravel.com"
            target="_blank"
            rel="noopener">
            Context Travel
          </a>
        </h3>
        <p>
          In house Senior Software Engineer on a Ruby on Rails application for a boutique travel start-up.
        </p>
      </li>
      <li>
        <img src={{ '/img/lola-screenshot.jpg' | url }} alt="Lola product page website screenshot" class="projects__image" />
        <h3 class="projects__title">
          <a
            href="https://mylola.com"
            target="_blank"
            rel="noopener">
            LOLA
          </a>
        </h3>
        <p>
          Front-end development with Shopify Liquid, vanilla JavaScript, and Sass for a custom Shopify e-commerce subscription site.
        </p>
      </li>
      <li>
        <img src={{ '/img/thrive-global-screenshot.jpg' | url }} alt="Thrive Global custom CMS website screenshot" class="projects__image" />
        <h3 class="projects__title">
          <a
            href="https://thriveglobal.com"
            target="_blank"
            rel="noopener">
            Thrive Global
          </a>
        </h3>
        <p>
          Front-end development and design for a custom publishing platform CMS built from scratch in Ruby on Rails with Sass and vanilla JavaScript.
        </p>
      </li>
      <li>
        <img src={{ '/img/joydrive-screenshot.jpg' | url }} alt="Joydrive website screenshot" class="projects__image" />
        <h3 class="projects__title">
          <a
            href="https://joydrive.com"
            target="_blank"
            rel="noopener">
            Joydrive
          </a>
        </h3>
        <p>
          Design and front-end development in an Elixir/Phoenix/Sass application for a custom e-commerce platform for selling new and used cars online.
        </p>
      </li>
      <li>
        <img src={{ '/img/1atelier-animation.gif' | url }} alt="Animation of a luxury satchel handbag changing colors and styles" class="projects__image" />
        <h3 class="projects__title">
          <a
            href="https://1atelier.com"
            target="_blank"
            rel="noopener">
            1Atelier
          </a>
        </h3>
        <p>
          UX research, design, and front-end development with Sass of a new homepage to improve conversion and site bounce rate.
        </p>
      </li>
      <li>
        <img src={{ '/img/levo-screenshot.jpg' | url }} alt="Levo League homepage screenshot" class="projects__image" />
        <h3 class="projects__title">Levo League</h3>
        <p>
        Lead Front-End Developer and Designer at a career advice and social networking start-up for millenial women.
        </p>
      </li>
    </ul>
  </div>
</section>