<section class="projects" id="projects">
  <div class="projects__heading-container">
    <h2 class="gradient-heading">
      As a web design and developer consultant, I've worked for all types of clients in various industries &mdash; from small greenfield startups and non-profits, to Fortune 500 companies. Here's a few of my favorites.
    </h2>
  </div>
  <div class="projects__list-container">
    <ul class="projects__list">
       <li>
        <a
          href="https://themes.shopify.com/themes/whisk/styles/soft"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/whisk-thumbnail.jpg' | url }} alt="Whisk Shopify theme homepage screenshot" class="projects__image" />
          <h3 class="projects__title">Whisk Shopify Theme</h3>
          <p>
            Shopify theme developed and designed to sell in the official Shopify Theme Store with Liquid, CSS, and JavaScript web components.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://hivebrands.com/"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/hive-screenshot.jpg' | url }} alt="Hive Brands homepage screenshot" class="projects__image" />
          <h3 class="projects__title">Hive Brands</h3>
          <p>
            Custom Shopify store theme development from scratch with Liquid, Sass, and Vue.js for a new eco-conscious online grocery startup.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://mylola.com"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/lola-screenshot.jpg' | url }} alt="Lola product page website screenshot" class="projects__image" />
          <h3 class="projects__title">
            LOLA
          </h3>
          <p>
            Front-end development with Shopify Liquid, JavaScript, and Sass for a custom Shopify e-commerce subscription site.
          </p>
        </a>
      </li>
       <li>
        <a
          href="https://bijanmustardson.com/"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/bijan-homepage.gif' | url }} alt="Bijan Mustardson homepage animated gif of the unique scrolling behavior on the homepage" class="projects__image" />
          <h3 class="projects__title">
            Bijan Mustardson
          </h3>
          <p>
            Custom Shopify theme development with a unique homepage layout built with Liquid, CSS, and JavaScript web components for a star athlete's mustard and merch brand.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://contexttravel.com/cities/rome"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/context-travel-screenshot.jpg' | url }} alt="Context Travel website screenshot" class="projects__image" />
          <h3 class="projects__title">
            Context Travel
          </h3>
          <p>
            In house Senior Software Engineer on a custom Ruby on Rails e-commerce application for a boutique travel <span class="no-wrap-text">start-up.</span>
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://thriveglobal.com/stories"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/thrive-global-screenshot.jpg' | url }} alt="Thrive Global custom CMS website screenshot" class="projects__image" />
          <h3 class="projects__title">
            Thrive Global
          </h3>
          <p>
            Front-end development and design for a publishing platform CMS built from scratch in Ruby on Rails with Sass and JavaScript.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://joeallenrestaurant.com/"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/joe-allen-thumbnail.jpg' | url }} alt="Joe Allen Restaurant homepage screenshot" class="projects__image" />
          <h3 class="projects__title">
            Joe Allen Restaurant
          </h3>
          <p>
            Custom WordPress theme with an editable menu using Genesis Custom Blocks for Joe Allen, Orso, and Bar Centrale restaurants in New York City.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://joydrive.com"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/joydrive-screenshot.jpg' | url }} alt="Joydrive website screenshot" class="projects__image" />
          <h3 class="projects__title">
            Joydrive
          </h3>
          <p>
            Design and front-end development in an Elixir/Phoenix application for a custom e-commerce platform that sells new and used cars online.
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://1atelier.com/products/satchel"
          target="_blank"
          rel="noopener">
          <img src={{ '/img/1atelier-animation.gif' | url }} alt="Animation of a luxury satchel handbag changing colors and styles" class="projects__image" />
          <h3 class="projects__title">
            1Atelier
          </h3>
          <p>
            UX research, design, performance enhancements, and front-end development for a custom luxury handbag e-commerce brand.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
