<section class="speaking" id="speaking">
  <h2 class="gradient-heading">
    Speaking
  </h2>
  <p>
    I was honored to recieve the award for &ldquo;Best Conference Presentation&rdquo; at CSSDevConf 2017, voted on by the conference attendees.
  </p>
  <ul class="list--unstyled" role="list">
    <li>
      <a href="./presentations/2020-09-CSS-Grid-for-Beginners.pdf" target="_blank" rel="noreferrer noopener">The Display Property & CSS Grid for Beginners</a> &mdash; Hyper Island, September 2020
    </li>
    <li>
      <a href="./presentations/2019-09-GenerateCSS.pdf" target="_blank" rel="noreferrer noopener">Beyond Screen Size: Using CSS to Optimise Layout by Device (and more!)</a> &mdash; GenerateCSS, September 2019
    </li>
    <li>
      <a href="./presentations/2018-10-AsburyAgile.pdf" target="_blank" rel="noreferrer noopener">You Might Not Need Media Queries: How to Use CSS Grid Today</a> &mdash; Asbury Agile, October 2018
    </li>
    <li>
      <a href="./presentations/2018-06-PiterCSS.pdf" target="_blank" rel="noreferrer noopener">You Might Not Need Media Queries: How to Use CSS Grid Today</a> &mdash; PiterCSS, June 2018
    </li>
    <li>
      <a href="./presentations/2018-04-GenerateNYC.pdf" target="_blank" rel="noreferrer noopener">Get on the Grid</a> &mdash;
      Generate NYC, April 2018
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=fVX0xscGP9o&t=4s" target="_blank" rel="noreferrer noopener">Using CSS Grid in the Real World</a> &mdash;
      CSSConfAU, March 2018
    </li>
    <li>
      <a href="./presentations/2017-10-CSSDevConf/index.html" target="_blank" rel="noreferrer noopener">Using CSS Grid in the Real World</a> &mdash;
      CSSDevConf, October 2017
    </li>
    <li>
      <a href="./presentations/2016-01-SVGSummit/index.html" target="_blank" rel="noreferrer noopener">Cracking the SVG Code</a> &mdash; SVG Summit, January 2016
    </li>
    <li>
      <a href="./presentations/2015-10-CSSDevConf-SVGs/index.html" target="_blank" rel="noreferrer noopener">Cracking the SVG Code</a> &mdash; CSSDevConf, October 2015
    </li>
  </ul>
</section>
