<section class="writing" id="writing">
  <div class="writing__background">
    <div class="writing__content">
      <h2 class="gradient-heading">
        Writing
      </h2>
      {% set postslist = collections.posts | head(-4) %}
      {% include "components/postslist.njk" %}
      <ol reversed class="posts-list list--unstyled" role="list">
        <li class="posts-list__item">
          <a href="https://www.heartinternet.uk/blog/fearless-guide-using-css-grid-today/" target="_blank" rel="noopener" class="posts-list__link">
            <h3 class="posts-list__title-solid">
              A fearless guide to using CSS Grid today
            </h3>
            <span class="posts-list__title-outline" aria-hidden="true">
              A fearless guide to using CSS Grid today
            </span>
          </a>
          <time datetime="2017-04-10">April 10, 2017</time> &mdash; <span class="posts-list__meta">Heart Internet</span>
        </li>
      </ol>
      <a href="{{ '/posts/' | url }}">More Posts</a>
    </div>
  </div>
</section>