$pink: #B22961;
$magenta: #542638;
$teal: #28AAA4;
$dark-teal: #547980;
$blue-black: #251f3d;
$soft-gray: #d2ceca;
$soft-white: #f2f2f2;
$orange: #EA7260;
$cream: #E8E0D6;
$purple: #7D76AD;
$red: #C12D2D;
$blue: #3A9AD8;


$peach: #eac4b3;
$dark-green: #569f75;

$body-copy: $blue-black;

$slide1-color: $blue;
$slide2-color: $orange;
$slide3-color: $teal;
$slide4-color: $purple;
