<nav class="navigation">
  <ul>
    <li>
      <a href="#about">
        About
      </a>
    </li>
    <li>
      <a href="#projects">
        Projects
      </a>
    </li>
    <li>
      <a href="#writing">
        Writing
      </a>
    </li>
    <li>
      <a href="#speaking">
        Speaking
      </a>
    </li>
    <li>
      <a href="#podcasts">
        Podcasts
      </a>
    </li>
    <li>
      <a href="#contact">
        Contact
      </a>
    </li>
    <li>
      <a href="https://codepen.io/brendamarienyc/" target="_blank" rel="noopener noreferrer">
        {% include "svgs/icon-codepen.svg" %}
      </a>
    </li>
    <li>
      <a href="https://github.com/brendastorer" target="_blank" rel="noopener noreferrer">
        {% include "svgs/icon-github.svg" %}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/brendastorer" target="_blank" rel="noopener noreferrer">
        {% include "svgs/icon-linkedin.svg" %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/brendamarienyc" target="_blank" rel="noopener noreferrer">
        {% include "svgs/icon-twitter.svg" %}
      </a>
    </li>
  </ul>
</nav>
