<nav class="navigation">
  <ul class="navigation__list list--unstyled" role="list">
    <li class="navigation__item">
      <a href="/#about">
        About
      </a>
    </li>
    <li class="navigation__item">
      <a href="/#projects">
        Projects
      </a>
    </li>
    <li class="navigation__item">
      <a href="/#writing">
        Writing
      </a>
    </li>
    <li class="navigation__item">
      <a href="/#speaking">
        Speaking
      </a>
    </li>
    <li class="navigation__item">
      <a href="/#podcasts">
        Podcasts
      </a>
    </li>
    <li class="navigation__item">
      <a href="/#contact">
        Contact
      </a>
    </li>
    <li class="navigation__item navigation__item--socials">
      <a href="https://codepen.io/brendamarienyc/" target="_blank" rel="noopener" class="navigation__icon-link">
        {% include "svgs/icon-codepen.svg" %}
      </a>
      <a href="https://github.com/brendastorer" target="_blank" rel="noopener" class="navigation__icon-link">
        {% include "svgs/icon-github.svg" %}
      </a>
      <a href="https://www.linkedin.com/in/brendastorer" target="_blank" rel="noopener" class="navigation__icon-link">
        {% include "svgs/icon-linkedin.svg" %}
      </a>
      <a href="https://twitter.com/brendamarienyc" target="_blank" rel="noopener" class="navigation__icon-link">
        {% include "svgs/icon-twitter.svg" %}
      </a>
    </li>
  </ul>
</nav>
