$red: #dd5a46;
$light-green: #a9cfc1;
$dark-green: #569f75;
$medium-green: #74b99e;
$orange: #e79553;
$peach: #eac4b3;
$pink: #cf867f;
$blue-black: #251f3d;
$soft-gray: #d2ceca;
$soft-white: #f2f2f2;
$purple: #735aac;

$body-copy: $blue-black;
