---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="page-container">
  <article class="post">
    <figure class="post__featured-image-container">
      <img src="{{ image | url }}" alt="{{ image-alt }}" class="post__featured-image" />
    </figure>
    <header class="post__header">
      <div class="post__meta">
        <time datetime="{{ post.date | htmlDateString }}" class="copy--small">{{ date | readableDate }}</time>
      </div>
      <div class="post__title">
        <h1 class="post__title-solid">
          {{ title }}
        </h1>
        <span class="post__title-outline" aria-hidden="true">
          {{ title }}
        </span>
      </div>
      {% include "components/postShare.njk" %}
    </header>
    <section class="post__body">
      {{ content | safe }}
    </section>
    {# <ul class="post__tags list--unstyled" role="list">
      {% for tag in tags %}
        {%- if tag != "posts" -%}
          {% set tagUrl %}
            /tags/{{ tag }}/
          {% endset %}
          <li>
            <a href="{{ tagUrl | url }}" class="post_tag">{{ tag }}</a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ul> #}
  </article>
  <div class="flex flex--justify-center">
    {% include "components/postShare.njk" %}
  </div>
  <div class="align--text-center space--pv--large">
    <a href="{{ '/posts' | url }}" class="button">See all posts</a>
  </div>
</div>
<div class="contact__angle-top"></div>
{% include "sections/contact.njk" %}
<script src="{{ '/js/social-share.js' | url }}"></script>
